.box-carrousel{
  height: 450px;
  min-width: auto;
  min-height: auto;
  background-color: #fff;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-position: 0% 0%;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08)!important; 
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08)!important; 
}
.carousel-inner{
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08)!important; 
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08)!important; 
}

#services .boxer {
  padding: 40px 40px 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px; 
  border:1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#services .boxer:hover {
 -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09); 
}
#services .title-boxer {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 25px;
  text-align: left;
}
#services .participer {
  font-size: 16px;
  margin-top: 40px;
  padding:5px 10px;
  background: #ab0b07 !important;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;

}
#services .participer:hover {
  background: #fff !important;
  color: #ab0b07 !important;
   -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09); 
}
}


#services  a.description {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
  text-align: left;
}
a.description {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
  text-align: left;
  color: rgb(0,0,0)!important;
}
.description img{
	padding: 5px;
	width: 30px;

}
.img-master img{
	width: 60px;
	height: 60px;
	background: ;
	border-radius: 50%;
	position: absolute;
	
	right: 0px;
	left: 260px;
	top: 225px;
	bottom: 0px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09); 
}
.title-eve {
  font-size: 40px;
  font-weight: 700;
}

/*style carrousel*/
.padding-0{
	padding: 0px;
}
.margin-0{
	margin: 0px;
}
.master{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	height: 450px;
}
.master img{
	width: 100%;
	height: 100%;
}
.message{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	height: 450px;
}
.message-crl{
	padding: 100px 40px 60px;
}
.message-crl h1{
	margin-bottom:0px;
	font-weight: 900;
}
.message-crl span{
	font-style: italic;
	margin:30px 0px;
}
.message-crl p{
	text-align: justify;
	margin-top: 20px;

}
.direction{
	position: absolute;
	right: 0;
	left: 60;
	top: 40;
	bottom: 0;
	margin: 0px !important;
	padding: 0px !important;
	height: 80px;
	
	display: flex;
	justify-content: space-between;
}
.direction li{
	display: inline-block;
	margin: 0px !important;
	padding: 0px !important;
}
.direction li a{
	margin: 0px !important;
	padding: 0px !important;
}
a.arrow{
	display: block;
	width: 80px;
	height: 80px;
	background: #fff; 
	margin: 0px;
	text-align: center;
	padding: 0px;	
	border: 1px solid rgba(0,0,0,0.03);
	font-size: 30px;
	color: #ab0b07 !important;
	line-height:80px;
	transition: 0.3s;
}
a.arrow:hover{ 
	color: #fff!important;
	background: #ab0b07 ;
}

 .modal-confirm {        
        color: #434e65;
        width: 900px;
    }
    .modal-confirm .modal-content {
        padding: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
    }
    .modal-confirm .modal-header {
        background: #47c9a2;
        border-bottom: none;   
        position: relative;
        text-align: center;
        margin: -20px -20px 0;
        border-radius: 5px 5px 0 0;
        padding: 35px;
    }
    .modal-confirm h4 {
        text-align: center;
        font-size: 36px;
        margin: 10px 0;
    }
    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px; 
    }
    .modal-confirm .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        text-shadow: none;
        opacity: 0.5;
    }
    .modal-confirm .close:hover {
        opacity: 0.8;
    }
    .modal-confirm .icon-box {
        color: #fff;        
        width: 95px;
        height: 95px;
        display: inline-block;
        border-radius: 50%;
        z-index: 9;
        border: 5px solid #fff;
        padding: 15px;
        text-align: center;
    }
    .modal-confirm .icon-box i {
        font-size: 64px;
        margin: -4px 0 0 -4px;
    }
    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #ab0b07 ;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 30px;
        margin-top: 10px;
        padding: 6px 20px;
        border: none;
    }
    .modal-confirm .btn:hover, .modal-confirm .btn:focus {
        background: #eda645;
        outline: none;
    }
    .modal-confirm .btn span {
        margin: 1px 3px 0;
        float: left;
    }
    .modal-confirm .btn i {
        margin-left: 1px;
        font-size: 20px;
        float: right;
    }










